@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "NanumSquare", sans-serif;
  background-color: oklch(0.985 0.002 247.839);
  min-height: 100vh;
}

@font-face {
  font-family: "HS-Regular";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.hs-font {
  font-family: "HS-Regular", sans-serif;
}
